<!DOCTYPE html>
<html>
<body>
	<section>
		<p>Hello</p>

		<div flash-message="5000"></div>
		<p>Podaj tytuł książki:</p>
		<input type="text" ng-model="title" ng-required="true">
		<button ng-click="addAuthor()">Dodaj autora</button>
		<button ng-click="save()" ng-disabled="title.length===0">Zapisz książkę</button>
		<p>Dodani autorzy:</p>
		<table>
			<tr>
				<th>Imię‚</th>
				<th>Nazwisko‚</th>
				<th>Usuń</th>
			</tr>
			<tr ng-repeat="author in authors">
				<td>{{ author.firstName }}</td>
				<td>{{ author.lastName }}</td>
				<td>
					<button ng-click="removeAuthor($index)">Usuń</button>
				</td>
			</tr>
		</table>
	</section>
</body>
</html>