<!DOCTYPE html>
<html>
<body>
<section>
    <div flash-message="5000" ></div>

    <p>Podaj tytuł książki:</p>
    <input type="text" ng-model="prefix">
    <button ng-click="search()">Szukaj</button>
    <button ng-click="addBook()">Dodaj książkę</button>

    <table>
        <tr>
            <th>Tytuł</th>
            <th>Autorzy</th>
            <th>Usuń</th>
        </tr>
        <tr ng-repeat="book in books">
            <td>{{ book.title }}</td>
            <td>{{ book.authors }}</td>
            <td>
                <button ng-click="deleteBook(book.id)">Usuń</button>
            </td>
        </tr>
    </table>
</section>
</body>
</html>