<div>
	<form novalidate>
		<div class="modal-header">
			<h3 class="modal-title">Dodaj nowego autora</h3>
		</div>
		<div class="modal-body">
			<p>Imię:</p>
			<p>
				<input type="text" ng-model="firstName" maxlength="50">
			</p>
			<p>Nazwisko:</p>
			<p>
				<input type="text" ng-model="lastName" maxlength="50">
			</p>
		</div>
		<div class="modal-footer">
			<button class="btn"
				ng-disabled="firstName.length===0 || lastName.length===0"
				ng-click="confirm()">Dodaj
				autora</button>
			<button class="btn btn-warning" ng-click="$dismiss()">Wyjdź</button>
		</div>
	</form>
</div>
